# Medflow Backend Configuration
PORT=8000
HOST=127.0.0.1
CHROMA_DB_PATH=./chroma_db
STORAGE_DIR=./uploaded_pdfs
ALLOW_ORIGINS="http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:8000"

# Authentication
AUTH_SECRET_KEY="your_super_secret_key_here_for_development_only"
AUTH_ALGORITHM="HS256"
